@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --white: #ffffff;
    --black: #000;
    --gray: rgb(148, 148, 148);
    --purple: rgb(81, 0, 69);
}   

* {
    margin: 0;
    padding: 0;
    color: var(--white);
}

*::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: 'Quantico', sans-serif;
    background-image: url('img/retrowave\ car\ Home.jpg');
    position: absolute;
    background-size: 100% 85vh;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;

}

main{
    margin-left: 1.5em;
}

nav{
    position: sticky;
    top: 0px;
}

nav a{
    padding: 0.8em;

    text-decoration: none;
    margin: 0px 10px;
}

.topic {
    margin-bottom: 2em;
}

.subTitle {
    width: 100%;
    color: var(--white);
    margin-bottom: 0.5em;
}

.subSubTitle{
    color: var(--white);
    margin-bottom: 1em;
}

section {
    display: flex;
}

section article {
    width: 75%;
}

#homepage {
    height: 85vh;
    align-items: center;
}

#homepage p {
    margin-left: 1em;
    font-size: xx-large;
    font-weight: bolder;
}

.item {
    display: flex;
    height: auto;
    margin-bottom: 1em;
}

.itemLogo {
    display: flex;
    align-items: center;
}

.itemContent {
    margin-left: 2em;
}

.itemContent ul {
    list-style-type: none;
}

.itemLogo img {
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.itemTitle {
    font-weight: 700;
}

.itemSubTitle {
    font-weight: 500;
}

.itemTextMuted {
    font-weight: 50;
    color: var(--gray);
}

#projects {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 65vh;
}

#projects div {
    height: 200px;
    width: 400px;
    border-radius: 1.5em;
    background-color: black;
}

#projects img:hover {
    opacity: 0.6;
}
#projects img {
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    transition: opacity ease-in 0.25s;
}

#contact article{   
    flex-direction: column;

}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    padding: 5px 200px;
}

button {
    width: 10em;
}

#textArea {
    padding: 75px 200px;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 1.5em;
}

#social_footer a{
    margin: 0 5px 0 5px;
}

#social_footer a i:hover{
    color: var(--purple);
    transition: color ease-in 0.1s;
}